footer.xs-12
  div
    strong.big {{site.title}}
    p  
      | A Magical Blog
      | 
      | Recording the Process
      | 
      | For Chasing Dreams，
      |
      | Trusting the Process
      
      a (href='{{ site.github }}')my github
      a my CSDN
